@font-face {
  font-family: 'TacticSans-BldIt';
  src: url('TacticSans-BldIt.eot');
  src: local('TacticSans-BldIt'), local('TacticSans-BldIt'),
  url('TacticSans-BldIt.eot?#iefix') format('embedded-opentype'),
  url('TacticSans-BldIt.woff2') format('woff2'),
  url('TacticSans-BldIt.woff') format('woff'),
  url('TacticSans-BldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TacticSans-RegIt';
  src: url('TacticSans-RegIt.eot');
  src: local('TacticSans-RegIt'), local('TacticSans-RegIt'),
  url('TacticSans-RegIt.eot?#iefix') format('embedded-opentype'),
  url('TacticSans-RegIt.woff2') format('woff2'),
  url('TacticSans-RegIt.woff') format('woff'),
  url('TacticSans-RegIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}




